@import 'basicStyle';

.container {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: $background-color_1;
	color: $color_1;
	text-decoration: none;
	border-radius: 5px;
	margin: 10px;
	&:hover {
		background-color: $background-color_2;
	}
}
.info {
	padding: 20px;
	background-color: $background-color_3;
	border-radius: 5px;
	margin-top: 20px;
	h2 {
		font-size: 24px;
	}
	p {
		font-size: 16px;
	}
}
.documentation {
	font-size: 16px;
	margin-top: 40px;
	a {
		color: $color_2;
		text-decoration: underline;
		&:hover {
			color: $color_3;
		}
	}
}